#frame001 {
    background-color:burlywood;
    border: 2px solid blue;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5px;
}

#color001 {
    color: black;
    font-size: large;
    text-align: left;
}

#center001 {
    text-align: center;
}

.button001 {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.button002 {
    width: 10px;
    height: 10px;
}